body{
	margin-top:3%;
	padding:0; 
}
/*header start*/
header{
	background-color: #FFFFFF;

}
.wrapper {
	overflow: hidden;
	width:80%;
	/*border:1px solid black;*/
	margin:-10px 148px;
}

.logo {
	float:left;
	width:15%;
	/*border:1px solid black;*/
}

.logo img{
	width:100%;

}

.menu {
	float:right;
	width:80%;
	/*border:1px solid black;*/
}

.menu ul{
	float: right;
	margin-top:18px;
}

.menu ul li{
	float:left;
	list-style: none;

}

.menu ul li a{
	font-family: sans-serif;
	font-size: 15px
	font-weight:300;
	color: black
	text-transform:capitalize;
	text-decoration: none;
	padding: 0 16px;
	display: inline-block;
	transition: .3s;
}

.menu ul li:last-child a{
	padding-right:0;
	padding-right: 55px; 

}

.menu ul li a:hover{
	color: #FF0101
}



/*header end*/